/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #0d6efd;
  text-decoration: none;
}
a:hover {
  color: #024dbc;
  text-decoration: underline;
}

a:not([href]), a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: textfield;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

progress {
  vertical-align: baseline;
}

::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

main {
  display: block;
}

[hidden] {
  display: none !important;
}

.btn {
  position: relative;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn.disabled, .btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}
.btn.disabled > *, .btn[disabled] > * {
  pointer-events: none;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-primary {
  color: #fff;
  background: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  color: #fff;
  background: #3385fd;
  border-color: #408cfd;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background: #3385fd;
  border-color: #408cfd;
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background: #0d6efd;
  border-color: #0d6efd;
}

.btn-danger {
  color: #fff;
  background: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: #fff;
  background: #e25663;
  border-color: #e4606d;
}
.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background: #e25663;
  border-color: #e4606d;
}
.btn-danger:disabled, .btn-danger.disabled {
  color: #fff;
  background: #dc3545;
  border-color: #dc3545;
}

.btn-default {
  color: #212529;
  background: #fff;
  border-color: #ced4da;
}
.btn-default:hover {
  color: #0d6efd;
  background: #fff;
  border-color: #0d6efd;
}
.btn-default:focus, .btn-default.focus {
  color: #0d6efd;
  background: #fff;
  border-color: #0d6efd;
}
.btn-default:disabled, .btn-default.disabled {
  color: #212529;
  background: #fff;
  border-color: #ced4da;
}

.btn-link {
  font-weight: 400;
  color: #0d6efd;
  text-decoration: none;
  box-shadow: none;
}
.btn-link:hover {
  color: #024dbc;
  text-decoration: underline;
}
.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
  color: #771caa;
}
.btn-link:disabled,
.btn-link .disabled {
  color: #6c757d;
  pointer-events: none;
}

.vah-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #dee2e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.vah-menu > .menu-item {
  padding: 0.5rem 1rem;
  margin: 0 0 0px 43px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.vah-menu > .menu-item a {
  color: #212529;
}
.vah-menu > .menu-item:hover, .vah-menu > .menu-item:focus {
  text-decoration: none;
}
.vah-menu > .menu-item.is-active, .vah-menu > .menu-item:hover {
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
}
.vah-menu > .menu-item.is-disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
.vah-menu .submenu-item {
  position: relative;
}
.vah-menu .submenu-item .submenu-title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.85rem;
  display: inline-block;
  align-items: center;
}
.vah-menu .is-horizontal .arrow-icon {
  margin-right: 3px;
}
.vah-menu .is-horizontal:hover .arrow-icon {
  transition: transform 0.25s ease-in-out;
  transform: rotate(180deg);
}
.vah-menu .is-vertical .arrow-icon {
  margin-right: 3px;
}
.vah-menu .icon-arrow-transform {
  transition: transform 0.25s ease-in-out;
  transform: rotate(180deg);
}
.vah-menu .viking-submenu {
  display: none;
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
}
.vah-menu .viking-submenu a {
  color: #212529;
}
.vah-menu .viking-submenu .menu-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #212529;
}
.vah-menu .viking-submenu .menu-item.is-active, .vah-menu .viking-submenu .menu-item:hover {
  color: #0d6efd !important;
}
.vah-menu .viking-submenu .menu-item.is-active > a, .vah-menu .viking-submenu .menu-item:hover > a {
  color: #0d6efd !important;
}
.vah-menu .menu-opened {
  display: block;
}

.menu-horizontal > .menu-item {
  border-bottom: 2px solid transparent;
}
.menu-horizontal .viking-submenu {
  position: absolute;
  background: #fff;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  border-right: 1px solid #dee2e6;
}
.menu-vertical > .menu-item {
  border-left: 2px solid transparent;
}
.menu-vertical > .menu-item.is-active, .menu-vertical > .menu-item:hover {
  border-bottom: 0px;
  border-left: 2px solid #0d6efd;
}

.icon-primary {
  color: #0d6efd;
}

.icon-secondary {
  color: #6c757d;
}

.icon-success {
  color: #52c41a;
}

.icon-info {
  color: #17a2b8;
}

.icon-warning {
  color: #fadb14;
}

.icon-danger {
  color: #dc3545;
}

.icon-light {
  color: #f8f9fa;
}

.icon-dark {
  color: #343a40;
}

.viking-input-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.viking-input-wrapper .icon-wrapper {
  position: absolute;
  height: 100%;
  width: 35px;
  justify-content: center;
  color: #495057;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.viking-input-wrapper .icon-wrapper svg {
  color: #6c757d;
}

.icon-wrapper + .viking-input-inner {
  padding-right: 35px;
}

.viking-input-inner {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.viking-input-inner:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}
.viking-input-inner::placeholder {
  color: #6c757d;
  opacity: 0.5;
}
.viking-input-inner:disabled, .viking-input-inner[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.viking-input-group-prepend,
.viking-input-group-append {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.viking-input-group-append + .btn {
  padding: 0;
  border: 0;
}

.input-group > .viking-input-group-prepend,
.input-group.input-group-append > .viking-input-inner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .viking-input-group-append,
.input-group.input-group-prepend > .viking-input-inner {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-size-sm .viking-input-inner {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.input-size-lg .viking-input-inner {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.viking-auto-complete {
  position: relative;
}

.viking-suggestion-list {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  position: absolute;
  background: #fff;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  width: 100%;
}
.viking-suggestion-list .suggstions-loading-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px;
}
.viking-suggestion-list .suggestion-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #212529;
}
.viking-suggestion-list .suggestion-item.is-active {
  background: #0d6efd !important;
  color: #fff !important;
}
.viking-suggestion-list .suggestion-item:hover {
  color: #0d6efd !important;
}

.viking-upload-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.viking-uploader-dragger {
  background: #f8f9fa;
  border: 1px dashed #dee2e6;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  width: 360px;
  height: 180px;
  text-align: center;
}
.viking-uploader-dragger:hover {
  border: 1px dashed #0d6efd;
}
.viking-uploader-dragger.is-dragover {
  border: 2px dashed #0d6efd;
  background: rgba(13, 110, 253, 0.2);
}

.viking-upload-list-item {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  font-size: 14px;
  line-height: 1.8;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 200px;
  position: relative;
}
.viking-upload-list-item:first-child {
  margin-top: 10px;
}
.viking-upload-list-item .file-name {
  margin-left: 5px;
  margin-right: 40px;
}
.viking-upload-list-item .file-name svg {
  margin-right: 5px;
  color: #adb5bd;
}
.viking-upload-list-item .file-name-error {
  color: #dc3545;
}
.viking-upload-list-item .file-name-error svg {
  color: #dc3545;
}
.viking-upload-list-item .file-status {
  display: block;
  position: absolute;
  right: 5px;
  top: 0;
  line-height: inherit;
}
.viking-upload-list-item .file-actions {
  display: none;
  position: absolute;
  right: 7px;
  top: 0;
  line-height: inherit;
  cursor: pointer;
}
.viking-upload-list-item:hover {
  background-color: #e9ecef;
}
.viking-upload-list-item:hover .file-status {
  display: none;
}
.viking-upload-list-item:hover .file-actions {
  display: block;
}

.viking-progress-bar {
  width: 100%;
  box-sizing: border-box;
}
.viking-progress-bar .viking-progress-bar-outer {
  border-radius: 0.25rem;
  background-color: #e9ecef;
  overflow: hidden;
  position: relative;
}
.viking-progress-bar .viking-progress-bar-inner {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  border-radius: 0.25rem;
  line-height: 1;
  transition: width 0.6s ease;
}
.viking-progress-bar .viking-progress-bar-inner .inner-text {
  color: #fff;
  font-size: 0.75rem;
  margin: 0 5px;
}
.viking-progress-bar .color-primary {
  background-color: #0d6efd;
}
.viking-progress-bar .color-secondary {
  background-color: #6c757d;
}
.viking-progress-bar .color-success {
  background-color: #52c41a;
}
.viking-progress-bar .color-info {
  background-color: #17a2b8;
}
.viking-progress-bar .color-warning {
  background-color: #fadb14;
}
.viking-progress-bar .color-danger {
  background-color: #dc3545;
}
.viking-progress-bar .color-light {
  background-color: #f8f9fa;
}
.viking-progress-bar .color-dark {
  background-color: #343a40;
}

.ant-row {
  display: flex;
  flex-flow: row wrap;
}
.ant-row::before, .ant-row::after {
  display: flex;
}
.ant-row-no-wrap {
  flex-wrap: nowrap;
}

.ant-row-start {
  justify-content: flex-start;
}

.ant-row-center {
  justify-content: center;
}

.ant-row-end {
  justify-content: flex-end;
}

.ant-row-space-between {
  justify-content: space-between;
}

.ant-row-space-around {
  justify-content: space-around;
}

.ant-row-space-evenly {
  justify-content: space-evenly;
}

.ant-row-top {
  align-items: flex-start;
}

.ant-row-middle {
  align-items: center;
}

.ant-row-bottom {
  align-items: flex-end;
}

.ant-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.ant-col-24 {
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
}

.ant-col-offset-24 {
  margin-left: 100%;
}

.ant-col-23 {
  display: block;
  flex: 0 0 95.8333333333%;
  max-width: 95.8333333333%;
}

.ant-col-offset-23 {
  margin-left: 95.8333333333%;
}

.ant-col-22 {
  display: block;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.ant-col-offset-22 {
  margin-left: 91.6666666667%;
}

.ant-col-21 {
  display: block;
  flex: 0 0 87.5%;
  max-width: 87.5%;
}

.ant-col-offset-21 {
  margin-left: 87.5%;
}

.ant-col-20 {
  display: block;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.ant-col-offset-20 {
  margin-left: 83.3333333333%;
}

.ant-col-19 {
  display: block;
  flex: 0 0 79.1666666667%;
  max-width: 79.1666666667%;
}

.ant-col-offset-19 {
  margin-left: 79.1666666667%;
}

.ant-col-18 {
  display: block;
  flex: 0 0 75%;
  max-width: 75%;
}

.ant-col-offset-18 {
  margin-left: 75%;
}

.ant-col-17 {
  display: block;
  flex: 0 0 70.8333333333%;
  max-width: 70.8333333333%;
}

.ant-col-offset-17 {
  margin-left: 70.8333333333%;
}

.ant-col-16 {
  display: block;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.ant-col-offset-16 {
  margin-left: 66.6666666667%;
}

.ant-col-15 {
  display: block;
  flex: 0 0 62.5%;
  max-width: 62.5%;
}

.ant-col-offset-15 {
  margin-left: 62.5%;
}

.ant-col-14 {
  display: block;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.ant-col-offset-14 {
  margin-left: 58.3333333333%;
}

.ant-col-13 {
  display: block;
  flex: 0 0 54.1666666667%;
  max-width: 54.1666666667%;
}

.ant-col-offset-13 {
  margin-left: 54.1666666667%;
}

.ant-col-12 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}

.ant-col-offset-12 {
  margin-left: 50%;
}

.ant-col-11 {
  display: block;
  flex: 0 0 45.8333333333%;
  max-width: 45.8333333333%;
}

.ant-col-offset-11 {
  margin-left: 45.8333333333%;
}

.ant-col-10 {
  display: block;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.ant-col-offset-10 {
  margin-left: 41.6666666667%;
}

.ant-col-9 {
  display: block;
  flex: 0 0 37.5%;
  max-width: 37.5%;
}

.ant-col-offset-9 {
  margin-left: 37.5%;
}

.ant-col-8 {
  display: block;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.ant-col-offset-8 {
  margin-left: 33.3333333333%;
}

.ant-col-7 {
  display: block;
  flex: 0 0 29.1666666667%;
  max-width: 29.1666666667%;
}

.ant-col-offset-7 {
  margin-left: 29.1666666667%;
}

.ant-col-6 {
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}

.ant-col-offset-6 {
  margin-left: 25%;
}

.ant-col-5 {
  display: block;
  flex: 0 0 20.8333333333%;
  max-width: 20.8333333333%;
}

.ant-col-offset-5 {
  margin-left: 20.8333333333%;
}

.ant-col-4 {
  display: block;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.ant-col-offset-4 {
  margin-left: 16.6666666667%;
}

.ant-col-3 {
  display: block;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.ant-col-offset-3 {
  margin-left: 12.5%;
}

.ant-col-2 {
  display: block;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.ant-col-offset-2 {
  margin-left: 8.3333333333%;
}

.ant-col-1 {
  display: block;
  flex: 0 0 4.1666666667%;
  max-width: 4.1666666667%;
}

.ant-col-offset-1 {
  margin-left: 4.1666666667%;
}

html,body{height:100%}body{font-family:"Monospaced Number","Microsoft YaHei","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;line-height:1.5;color:#314659;font-size:14px;background:#fff;transition:background 1s cubic-bezier(0.075, 0.82, 0.165, 1);overflow-x:hidden}a{transition:color .3s ease}a:focus{text-decoration:underline;-webkit-text-decoration-skip:auto;text-decoration-skip:auto}.main-wrapper{background:#fff;padding:40px 0 0;position:relative}.main-container{padding:0 170px 144px 64px;background:#fff;min-height:500px;overflow:hidden;border-left:1px solid #ebedf0;position:relative;margin-left:-1px}.main-menu{z-index:1}.aside-container{padding-bottom:50px;font-family:Lato,"Monospaced Number","Microsoft YaHei","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif}.aside-container.ant-menu-inline .ant-menu-submenu-title h4,.aside-container.ant-menu-inline>.ant-menu-item,.aside-container.ant-menu-inline .ant-menu-item a{font-size:14px;text-overflow:ellipsis;overflow:hidden}.aside-container.ant-menu-inline .ant-menu-item-group-title{padding-left:56px}.aside-container a[disabled]{color:#ccc}.aside-container .menu-item-link-outside{position:relative}.aside-container .menu-item-link-outside .anticon{font-size:12px;color:#1890ff;opacity:0;position:absolute;right:-10px;top:16px;transition:all .3s}.aside-container .menu-item-link-outside:hover .anticon{opacity:1}.aside-container .chinese{font-size:12px;margin-left:6px;font-weight:normal;opacity:.67}.outside-link{display:inline-block}.outside-link:after{content:"";font-family:"anticon";margin-left:5px;font-size:12px;color:#aaa}.outside-link.internal{display:none}.menu-site .ant-menu-item>a{color:#314659}.menu-site .ant-menu-item-selected>a,.menu-site .ant-menu-item>a:hover{color:#1890ff}.page-wrapper{overflow:hidden;padding:0;width:100%}.page-wrapper a{text-decoration:none}.drawer-content{padding:40px 0}.drawer{z-index:1029}h2{color:rgba(0,0,0,.85);font-weight:500;font-size:1.3rem}#header{transition:all .3s;background:#fff;box-shadow:0 2px 8px #f0f1f2;position:relative;z-index:10;max-width:100%}#header.home-nav-bottom{background:rgba(255,255,255,.9);border-bottom-color:#ebedee}#header.home-nav-bottom .search{border-left-color:#ebedee}#header.home-nav-bottom a{color:#314659}#header .header-link{color:#314659}#header .ant-menu-item-active .header-link{color:#1890ff}#logo{overflow:hidden;padding:20px 0 0 40px;float:left;height:64px;line-height:64px;text-decoration:none;white-space:nowrap}#logo img{height:32px;margin-right:16px}#logo img+img{height:16px;position:relative;top:1px}#search-box{border-left:1px solid #ebedf0;float:left;height:22px;line-height:22px;padding-left:16px;margin:22px auto 0}#search-box .anticon{color:#ced4d9;position:relative;top:.5px}#search-box input{font-size:14px;margin-top:-5px;width:200px;border:0;box-shadow:none;background:rgba(0,0,0,0)}#search-box input::-moz-placeholder{color:#a3b1bf}#search-box input:-ms-input-placeholder{color:#a3b1bf}#search-box input::placeholder{color:#a3b1bf}.header-lang-button,.version{float:right;margin-top:20px;margin-left:16px}.header-lang-button{border-color:hsv(0, 0, 85%);margin-right:40px}#nav{border:0;float:right;font-size:14px}#nav.ant-menu-horizontal{border-bottom:none}#nav.ant-menu-horizontal>.ant-menu-item{height:64px;line-height:60px;min-width:72px;border-top:2px solid rgba(0,0,0,0)}#nav.ant-menu-horizontal>.ant-menu-item:hover{border-top:2px solid #1890ff;border-bottom:2px solid rgba(0,0,0,0)}#nav.ant-menu-horizontal>.ant-menu-item-selected{border-top:2px solid #1890ff;border-bottom:2px solid rgba(0,0,0,0)}#nav.ant-menu-horizontal>.ant-menu-item-selected a{color:#1890ff}#nav>.ant-menu-item{text-align:center}.component-select.ant-select-dropdown{border:0;border-radius:0;box-shadow:0 0 8px rgba(0,0,0,.25);font-size:14px}.component-select .ant-select-dropdown-menu{max-height:200px}.component-select .ant-select-dropdown-menu-item{border-radius:0 !important}.component-select .ant-component-decs{font-size:12px;position:absolute;color:#aaa;right:16px}.markdown{color:#314659;font-size:14px;line-height:2}.highlight{line-height:1.5}.markdown p>img{margin:34px 0;box-shadow:0 8px 20px rgba(143,168,191,.35)}.markdown h1{color:#0d1a26;font-weight:500;margin-bottom:20px;margin-top:8px;font-family:Lato,"Monospaced Number","Microsoft YaHei","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;font-size:30px;line-height:38px}.markdown h1 .subtitle{margin-left:12px}.markdown h2{font-size:24px;line-height:32px}.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6{color:#0d1a26;font-family:Lato,"Monospaced Number","Microsoft YaHei","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;margin:1.6em 0 .6em;font-weight:500;clear:both}.markdown h3{font-size:18px}.markdown h4{font-size:16px}.markdown h5{font-size:14px}.markdown h6{font-size:12px}.markdown hr{height:1px;border:0;background:#ebedf0;margin:72px 0;clear:both}.markdown p,.markdown pre{margin:1em 0}.markdown ul>li{list-style-type:circle;margin-left:20px;padding-left:4px}.markdown ul>li:empty{display:none}.markdown ol>li{list-style-type:decimal;margin-left:20px;padding-left:4px}.markdown ul>li>p,.markdown ol>li>p{margin:.2em 0}.markdown code{margin:0 1px;background:#f2f4f5;padding:.2em .4em;border-radius:3px;font-size:.9em;border:1px solid #eee}.markdown pre{border-radius:2px;background:#f2f4f5;font-family:"Lucida Console",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace}.markdown pre code{border:none;background:#f2f4f5;margin:0;padding:0;font-size:13px;color:#314659;overflow:auto}.markdown strong,.markdown b{font-weight:500}.markdown>table{border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #ebedf0;width:100%;margin:8px 0 16px}.markdown>table th{white-space:nowrap;color:#5c6b77;font-weight:500;background:rgba(0,0,0,.02)}.markdown>table th,.markdown>table td{border:1px solid #ebedf0;padding:16px 24px;text-align:left}.markdown blockquote{font-size:90%;color:#697b8c;border-left:4px solid #ebedf0;padding-left:.8em;margin:1em 0}.markdown blockquote p{margin:0}.markdown .anchor{opacity:0;transition:opacity .3s ease;margin-left:8px}.markdown .waiting{color:#ccc;cursor:not-allowed}.markdown a.edit-button{line-height:12px;display:inline-block;margin-left:10px;height:12px;text-decoration:none;font-weight:400}.markdown a.edit-button i{color:#697b8c}.markdown a.edit-button i:hover{color:#1890ff}.markdown a.edit-button .anticon{display:block;font-size:16px}.markdown h1:hover .anchor,.markdown h2:hover .anchor,.markdown h3:hover .anchor,.markdown h4:hover .anchor,.markdown h5:hover .anchor,.markdown h6:hover .anchor{opacity:1;display:inline-block}.markdown>br,.markdown>p>br{clear:both}.markdown.api-container table{font-size:14px;line-height:1.5;font-family:Consolas,Menlo,Courier,monospace;border-width:0;margin:2em 0}.markdown.api-container table th,.markdown.api-container table td{padding:14px 16px;border-width:1px 0;border-color:hsv(0, 0, 91%)}.markdown.api-container table th{border-width:0 0 2px 0}.markdown.api-container table td:first-child{font-weight:500;width:20%}.markdown.api-container table td:nth-child(3){width:22%;font-size:13px;word-break:break-all}.markdown.api-container table td:last-child{width:13%;font-size:13px}.grid-demo .demo-row,.grid-demo .code-box-demo .demo-row,[id^=components-grid-demo-] .demo-row,[id^=components-grid-demo-] .code-box-demo .demo-row{background-image:linear-gradient(90deg, #f5f5f5 4.16666667%, transparent 4.16666667%, transparent 8.33333333%, #f5f5f5 8.33333333%, #f5f5f5 12.5%, transparent 12.5%, transparent 16.66666667%, #f5f5f5 16.66666667%, #f5f5f5 20.83333333%, transparent 20.83333333%, transparent 25%, #f5f5f5 25%, #f5f5f5 29.16666667%, transparent 29.16666667%, transparent 33.33333333%, #f5f5f5 33.33333333%, #f5f5f5 37.5%, transparent 37.5%, transparent 41.66666667%, #f5f5f5 41.66666667%, #f5f5f5 45.83333333%, transparent 45.83333333%, transparent 50%, #f5f5f5 50%, #f5f5f5 54.16666667%, transparent 54.16666667%, transparent 58.33333333%, #f5f5f5 58.33333333%, #f5f5f5 62.5%, transparent 62.5%, transparent 66.66666667%, #f5f5f5 66.66666667%, #f5f5f5 70.83333333%, transparent 70.83333333%, transparent 75%, #f5f5f5 75%, #f5f5f5 79.16666667%, transparent 79.16666667%, transparent 83.33333333%, #f5f5f5 83.33333333%, #f5f5f5 87.5%, transparent 87.5%, transparent 91.66666667%, #f5f5f5 91.66666667%, #f5f5f5 95.83333333%, transparent 95.83333333%);overflow:hidden;margin-bottom:8px}.grid-demo .ant-row-flex,.grid-demo .code-box-demo .ant-row-flex,[id^=components-grid-demo-] .ant-row-flex,[id^=components-grid-demo-] .code-box-demo .ant-row-flex{background:#f5f5f5}.grid-demo .ant-row>div,.grid-demo .code-box-demo .ant-row>div,.grid-demo .ant-row-flex>div,.grid-demo .code-box-demo .ant-row-flex>div,[id^=components-grid-demo-] .ant-row>div,[id^=components-grid-demo-] .code-box-demo .ant-row>div,[id^=components-grid-demo-] .ant-row-flex>div,[id^=components-grid-demo-] .code-box-demo .ant-row-flex>div{padding:5px 0;text-align:center;border-radius:0;min-height:30px;margin-top:8px;margin-bottom:8px;color:#fff}.grid-demo .code-box-demo .ant-row>div:not(.gutter-row),.grid-demo .code-box-demo .ant-row-flex>div:not(.gutter-row),[id^=components-grid-demo-] .code-box-demo .ant-row>div:not(.gutter-row),[id^=components-grid-demo-] .code-box-demo .ant-row-flex>div:not(.gutter-row){background:#00a0e9;padding:16px 0}.grid-demo .code-box-demo .ant-row>div:not(.gutter-row):nth-child(2n+1),.grid-demo .code-box-demo .ant-row-flex>div:not(.gutter-row):nth-child(2n+1),[id^=components-grid-demo-] .code-box-demo .ant-row>div:not(.gutter-row):nth-child(2n+1),[id^=components-grid-demo-] .code-box-demo .ant-row-flex>div:not(.gutter-row):nth-child(2n+1){background:fade(#00a0e9, 70%)}.grid-demo .ant-row .demo-col,.grid-demo .code-box-demo .ant-row .demo-col,[id^=components-grid-demo-] .ant-row .demo-col,[id^=components-grid-demo-] .code-box-demo .ant-row .demo-col{text-align:center;padding:30px 0;color:#fff;font-size:18px;border:none;margin-top:0;margin-bottom:0}.grid-demo .ant-row .demo-col-1,.grid-demo .ant-row .demo-col-1,[id^=components-grid-demo-] .ant-row .demo-col-1,[id^=components-grid-demo-] .ant-row .demo-col-1{background:fade(#00a0e9, 70%)}.grid-demo .ant-row .demo-col-2,.grid-demo .code-box-demo .ant-row .demo-col-2,[id^=components-grid-demo-] .ant-row .demo-col-2,[id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-2{background:fade(#00a0e9, 50%)}.grid-demo .ant-row .demo-col-3,.grid-demo .code-box-demo .ant-row .demo-col-3,[id^=components-grid-demo-] .ant-row .demo-col-3,[id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-3{background:rgba(255,255,255,.2);color:#999}.grid-demo .ant-row .demo-col-4,.grid-demo .code-box-demo .ant-row .demo-col-4,[id^=components-grid-demo-] .ant-row .demo-col-4,[id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-4{background:fade(#00a0e9, 60%)}.grid-demo .ant-row .demo-col-5,.grid-demo .code-box-demo .ant-row .demo-col-5,[id^=components-grid-demo-] .ant-row .demo-col-5,[id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-5{background:rgba(255,255,255,.5);color:#999}.grid-demo .code-box-demo .height-100,[id^=components-grid-demo-] .code-box-demo .height-100{height:100px;line-height:100px}.grid-demo .code-box-demo .height-50,[id^=components-grid-demo-] .code-box-demo .height-50{height:50px;line-height:50px}.grid-demo .code-box-demo .height-120,[id^=components-grid-demo-] .code-box-demo .height-120{height:120px;line-height:120px}.grid-demo .code-box-demo .height-80,[id^=components-grid-demo-] .code-box-demo .height-80{height:80px;line-height:80px}.markdown ul.ant-timeline{line-height:2}.markdown ul.ant-timeline li.ant-timeline-item{list-style:none;margin:0;padding:0 0 30px}.markdown ul.ant-timeline li.ant-timeline-item .ant-timeline-item-content{font-size:14px;padding-left:32px;position:relative;top:-14px}.markdown ul.ant-timeline li.ant-timeline-item .ant-timeline-item-content>h2{margin-top:0;padding-top:2px}.markdown ul.ant-timeline li.ant-timeline-item:first-child{margin-top:40px}pre code{display:block;background:#fff;color:#314659;line-height:2;border:1px solid #e9e9e9;padding:16px 32px;border-radius:2px;font-size:14px;white-space:pre;font-family:"Lucida Console",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace}code[class*=language-],pre[class*=language-]{color:#000;background:none;font-family:"Lucida Console",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,code[class*=language-] ::-moz-selection{text-shadow:none;background:#b3d4fc}pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection, code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection{text-shadow:none;background:#b3d4fc}pre[class*=language-]::selection,pre[class*=language-] ::selection,code[class*=language-]::selection,code[class*=language-] ::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:12px 20px;margin:16px 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f2f4f5}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.comment,.token.prolog,.token.doctype,.token.cdata{color:#708090}.token.punctuation{color:#999}.namespace{opacity:.7}.token.property,.token.tag,.token.boolean,.token.number,.token.constant,.token.symbol,.token.deleted{color:#f81d22}.token.selector,.token.attr-name,.token.string,.token.char,.token.builtin,.token.inserted{color:#0b8235}.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string{color:#0b8235}.token.atrule,.token.attr-value,.token.keyword{color:#008dff}.token.function{color:#f81d22}.token.regex,.token.important,.token.variable{color:#e90}.token.important,.token.bold{font-weight:bold}.token.italic{font-style:italic}.token.entity{cursor:help}.code-boxes-col-1-1{width:100%}.code-boxes-col-2-1{display:inline-block;vertical-align:top}.code-box{border:1px solid #ebedf0;border-radius:2px;display:inline-block;width:100%;position:relative;margin:0 0 16px;transition:all .2s}.code-box:target{border:1px solid #1890ff}.code-box-expand-trigger{cursor:pointer;font-size:14px;color:#3b4357;margin-left:8px;opacity:.8;transition:all .3s;top:-2px;position:relative}.code-box-title{position:absolute;top:-14px;padding:1px 8px;margin-left:-8px;color:#777;border-radius:2px 2px 0 0;background:#fff;transition:background-color .4s}.code-box-title a,.code-box-title a:hover{color:#314659;font-size:14px;font-weight:500}.code-box a.edit-button{position:absolute;right:-16px;top:7px;font-size:12px;transform:scale(0.9);background:#fff;padding-right:6px;text-decoration:none}.code-box-demo{border-bottom:1px solid #ebedf0;padding:42px 24px 50px;color:rgba(0,0,0,.65)}.code-box iframe{width:100%;border:0}.code-box-meta.markdown{position:relative;padding:18px 32px;border-radius:0 0 2px 2px;transition:background-color .4s;width:100%;font-size:14px}.code-box-meta blockquote{margin:0}.code-box-meta>p{font-size:12px;margin:.5em 0;padding-right:25px;width:100%;word-break:break-word}.code-box.expand .code-box-meta{border-radius:0;border-bottom:1px dashed #ebedf0}.code-box .code-expand-icon{position:absolute;right:16px;bottom:23px;cursor:pointer;width:16px;height:16px;line-height:16px;text-align:center}.code-box .code-expand-icon-show,.code-box .code-expand-icon-hide{transition:all .4s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:absolute;left:0;top:0;margin:0;max-width:100%;width:100%;vertical-align:baseline;box-shadow:none}.code-box .code-expand-icon-show{opacity:.55;pointer-events:auto}.code-box .code-expand-icon-show:hover{opacity:1}.code-box .code-expand-icon.ant-tooltip-open .code-expand-icon-show{opacity:1}.code-box .code-expand-icon-hide{opacity:0;pointer-events:none}.code-box .highlight-wrapper{display:none;overflow:auto;border-radius:0 0 2px 2px}.code-box .highlight-wrapper-expand{display:block}.code-box .highlight{position:relative}.code-box .highlight pre{margin:0;padding:0;background:#fff}.code-box .highlight:not(:first-child){border-top:1px dashed #ebedf0}.code-box-actions{position:absolute;top:10px;right:12px;text-align:right}.code-box-actions>i,.code-box-actions>form{display:inline-block;margin-left:8px}.code-box-code-copy{font-size:14px;cursor:pointer;color:#697b8c;transition:all .24s;background:#fff;width:20px;height:20px;line-height:20px;text-align:center;border-radius:20px;opacity:0}.code-box-code-copy:hover{color:#697b8c;transform:scale(1.2)}.code-box-code-copy.anticon-check{font-weight:bold}.code-box-codepen{background:rgba(0,0,0,0) url("https://gw.alipayobjects.com/zos/rmsportal/OtZslpOjYXijshDERXwc.svg") center/14px no-repeat;width:20px;height:20px;cursor:pointer;opacity:0;transition:all .3s;border:0;text-indent:-9999px;overflow:hidden}.code-box-riddle{background:rgba(0,0,0,0) url("https://gw.alipayobjects.com/zos/rmsportal/DlHbxMCyeuyOrqOdbgik.svg") center/14px no-repeat;width:20px;height:20px;cursor:pointer;opacity:0;transition:all .3s;border:0;text-indent:-9999px;overflow:hidden}.code-box-codesandbox{background:rgba(0,0,0,0) url("https://gw.alipayobjects.com/zos/rmsportal/aaYmtdDyHSCkXyLZVgGK.svg") center/14px no-repeat;width:20px;height:20px;cursor:pointer;opacity:0;transition:all .3s;border:0;text-indent:-9999px;overflow:hidden}.highlight-wrapper:hover .code-box-code-copy,.highlight-wrapper:hover .code-box-codepen,.highlight-wrapper:hover .code-box-codesandbox,.highlight-wrapper:hover .code-box-riddle{opacity:1}.code-box pre{margin:0;width:auto}.code-box pre code{border:none;background:#fff}ul.anticons-list{margin:40px 0;list-style:none;overflow:hidden}ul.anticons-list li{float:left;width:16.66%;text-align:center;list-style:none;cursor:pointer;height:100px;color:#555;transition:color .3s ease-in-out,background-color .3s ease-in-out;position:relative;margin:3px 0;border-radius:4px;background-color:#fff;overflow:hidden;padding:10px 0 0}ul.anticons-list li .anticon{font-size:24px;margin:12px 0 16px;transition:transform .3s ease-in-out;will-change:transform}ul.anticons-list li .anticon-class{display:block;text-align:center;transform:scale(0.83);font-family:"Lucida Console",Consolas;white-space:nowrap}ul.anticons-list li .anticon-class .ant-badge{transition:color .3s ease-in-out}ul.anticons-list li:hover{background-color:#1890ff;color:#fff}ul.anticons-list li:hover .anticon{transform:scale(1.4)}ul.anticons-list li:hover .ant-badge{color:#fff}ul.anticons-list li.copied:hover{color:rgba(255,255,255,.2)}ul.anticons-list li:after{position:absolute;top:0;left:0;height:100%;width:100%;content:"Copied!";text-align:center;line-height:110px;color:#fff;transition:all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);opacity:0}ul.anticons-list li.copied:after{opacity:1;top:-10px}
